<h2>Dr. <%= doctor.forename %> <%= doctor.surname %></h2>
<ul style="list-style: circle">
	<li><%= doctor.address %></li>
	<li><%= doctor.description %></li>
</ul>
<p><%= link_to "Book appointment", new_doctor_appointment_path(doctor), class: "btn btn-dark" %></p>