<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" href="/">Doc.ly</a>
      <ul class="navbar-nav">
        <li class="navbar-nav navbar-right active">
          <a class="nav-link" href="#">Home</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
